@import "import/_normalize";
@import "import/_variables";

html,
body {
    height: 100%;

    * {
      box-sizing: border-box;
    }

}

body {

  a {
    text-decoration: none;
    transition: all .1s linear;
    &:hover {
      cursor: pointer;
    }
  }

  .root {
    color: #333;
  }

  .fullscreen-block {
    width: 100vw;
    height: 100vh;
  }

  .max-height-block {
    height: 3000px;
  }

  .flex-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    &-cols {
      flex-direction: column;
    }
    &-multiple-items {
      @media (max-width: 1000px) {
        flex-direction: column-reverse;
      }
    }

    &-align-center {
      align-items: center;
      justify-content: center;
    }
  }

  .video-container {
    min-width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    & video {
      width: 100%;
      height: 600px;
      vertical-align: middle;
      object-fit: cover;
    }
    .video-block {
      &-content {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 50;
        & h1 {
          margin: 0 10px;
          padding: 10px;
          background-color: fade(@blue, 40%);
        }

      }
    }
  }



  .box {
    margin: 10px;
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    background-color: fade(@blue, 60%);
    border: 1px solid @blue;
    &-row-item {
      // display: -webkit-flex;
      // display: -ms-flex;
      // display: flex;
      // text-align: center;
      // justify-content: center;
      // align-items: center;
      max-width: none;
      max-height: none;
      margin: 0;
      color: #fff;

    }
  }

  .return-to-top {
    position: fixed;
    display: block;
    color: @blue;
    background-color: fade(@blue, 25%);
    padding: 7px 9px;
    border-radius: 4px;
    bottom: 20px;
    right: 20px;
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      content: '';
      border-bottom: .3em solid;
      border-right: .3em solid transparent;
      border-top: 0;
      border-left: .3em solid transparent;
      margin-left: .5rem;
      vertical-align: .2rem;
    }
    &:hover {
      background-color: fade(@blue, 10%);
    }
  }

  .hide-after-1000 {
    @media (max-width: 1000px) {
      display: none;
    }
  }

}
