extends ../layouts/default.pug

block site__content
  ul
    li: a(href="test-2.html", target="_blank") Задание 2
    li: a(href="test-3.html", target="_blank") Задание 3
    li: a(href="test-4.html", target="_blank") Задание 4
    li: a(href="test-5.html", target="_blank") Задание 5
  
