extends ../layouts/default.pug

block site__content
  .fullscreen-block.flex-block.flex-block-multiple-items
    .box.box-row-item.flex-block.flex-block-align-center 
      h1 1
    .box.box-row-item.flex-block.flex-block-align-center.hide-after-1000 
      h1 2
    .box.box-row-item.flex-block.flex-block-align-center  
      h1 3
